.button{
    margin: 0.5rem;
    padding: 1rem 2rem;

    border:none;
    border-radius: 3rem;

    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    position:relative;

    color: rgb(255,255,255);
    border:none;
    border-radius: 3rem;
    background-color: rgb(249,115,22);
    transition: all 0.5s ease;
    cursor:pointer;
    font-weight: 600;

    background: linear-gradient(to right, rgb(249,115,22), rgb(239, 88, 10));
    
}

.button:hover{
    transform:scale(1.05);
    background: linear-gradient(to right,rgb(239, 88, 10), rgb(249,115,22));

    /* filter:drop-shadow(0 0 0.5rem rgba(249,115,22,0.5)); */
}

.button::before{
    content:"";
    position:absolute;
    inset:0;
    background: linear-gradient(
        to right, rgba(254, 215, 170,0), rgba(254, 215, 170,0.2), rgba(254, 215, 170,0)
    );

    transform: translateX(-100%);
    transition: transform 0.7s ease;
}

.button:hover::before{
    transform:translateX(100%);
}

.button:active{
    transform: scale(0.98);
}
